<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mywebsite/style.css' %}" />
    <title>eBook Website - {% block title %}Welcome!{% endblock %}</title>
</head>
<body>
    <div>
        <h1>{% block myhdg %}Hello User {% endblock %}</h1>

        <!-- Authentication status -->
        <div style="text-align: right; margin-bottom: 10px;">
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.username }}!</span>
                <a href="{% url 'mywebsite:user_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'mywebsite:user_login' %}">Login</a>
            {% endif %}
        </div>

        {% block body_block %}*** {% endblock %}
    </div>
    <hr />
    <div>
        <ul>
            <li class="hbar1"><a href="/mywebsite/about/">Find out about this site</a></li>
            <li class="hbar1"><a href="{% url 'mywebsite:index' %}">Click here to return to main page</a><br/></li>
        </ul>
    </div>
</body>
</html>